.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--s-90);
  min-width: var(--s-90);
  background-color: var(--default);
}

@media only screen and (max-width: 720px) {
  .chatContainer {
    width: 100%;
  }
}

.brandContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--s-18);
  border-bottom: var(--s-quarter) solid var(--tertiary);
  background-color: var(--black);
}

.logoContainer {
  height: var(--s-8);
  width: var(--s-8);
  margin-right: var(--s-3);
}

.titleContainer {
  color: var(--primary);
  font-size: var(--s-7);
}

.messagesContainer {
  overflow-y: auto;
  height: 100%;
  padding: var(--s-4);
}

.messageContainer {
  padding-bottom: var(--s-5);
}

.messageContainer:last-of-type {
  padding-bottom: unset;
}

.messageOwner {
  padding-bottom: var(--s-1);
  font-size: var(--s-5);
  color: var(--primary);
}

.messageContent {
  word-break: break-word;
  color: var(--white);
}

.newMessageContainer {
  min-height: var(--s-14);
  border-top: var(--s-quarter) solid var(--tertiary);
  background-color: var(--black);
}

.newMessage {
  background-color: transparent;
  width: 100%;
}
