.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--s-100);
  min-width: var(--s-100);
  background-color: var(--default);
  border-left: var(--s-quarter) solid var(--secondary);
}

@media only screen and (max-width: 720px) {
  .chatContainer {
    width: 100%;
    min-width: 100%;
    overflow: auto;
    border-left: unset;
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: var(--s-18);
  border-bottom: var(--s-quarter) solid var(--secondary);
  background-color: var(--black);
}

@media only screen and (max-width: 720px) {
  .headerContainer {
    border-top: var(--s-quarter) solid var(--secondary);
  }
}

.headerSideContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--s-18);
}

.brandContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  height: var(--s-8);
  width: var(--s-8);
  margin-right: var(--s-3);
}

.titleContainer {
  color: var(--primary);
  font-size: var(--s-7);
}

.membersButton {
  height: var(--s-8);
  width: auto;
  font-size: var(--s-4);
  font-weight: 600;
  color: var(--black);
}

.membersButtonIcon {
  height: var(--s-6);
  width: var(--s-6);
  margin-right: var(--s-1);
}

.membersWrapper {
  display: none;
  background-color: var(--secondary);
  border-radius: 0 0 var(--s-3) var(--s-3);
}

.membersWrapper.active {
  display: block;
}

.membersContainer {
  padding: var(--s-4) var(--s-10);
  max-height: var(--s-64);
  overflow: auto;
}

.memberContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--s-2);
  color: var(--white);
}

.memberContainer:last-of-type {
  margin-bottom: unset;
}

.memberTime {
  color: var(--tertiary);
}

.messagesContainer {
  height: 100%;
  overflow-y: auto;
  padding: var(--s-4);
}

.messageContainer {
  padding-bottom: var(--s-5);
}

.messageContainer:last-of-type {
  padding-bottom: unset;
}

.messageOwner {
  padding-bottom: var(--s-1);
  font-size: var(--s-5);
  color: var(--primary);
}

.messageContent {
  word-break: break-word;
  color: var(--white);
}

.footerContainer {
  display: flex;
  align-items: center;
  padding: var(--s-3) var(--s-2);
  border-top: var(--s-quarter) solid var(--secondary);
  background-color: var(--black);
}

.newMessageContainer {
  width: 100%;
  padding-right: var(--s-1);
}

.newMessage {
  width: 100%;
}

.sendButton {
  height: var(--s-12);
  width: var(--s-12);
}

.sendButtonIcon {
  height: var(--s-7);
  width: var(--s-7);
}
