.button {
  cursor: pointer;
  height: var(--s-14);
  width: var(--s-80);
  border: 0;
  border-radius: var(--s-3);
  color: var(--white);
  font-size: var(--s-5);
  background-color: var(--primary);
}

.button:focus {
  outline: none;
}
