* {
  box-sizing: border-box;
  font-family: 'Play', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --default: #040404;
  --primary: #db880c;
  --secondary: #111010;
  --tertiary: #444444;
  --white: #ffffff;
  --black: #000000;

  --s-quarter: 1px;
  --s-1: 4px;
  --s-3: 12px;
  --s-4: 16px;
  --s-5: 20px;
  --s-6: 24px;
  --s-7: 28px;
  --s-8: 32px;
  --s-12: 48px;
  --s-14: 56px;
  --s-18: 72px;
  --s-22: 88px;
  --s-64: 256px;
  --s-80: 320px;
  --s-90: 360px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.plyr {
  height: 100%;
}

@media only screen and (max-width: 720px) {
  .plyr {
    height: unset;
  }
}
